[submodule "turtlebot3"]
	path = catkin_ws/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = melodic-devel
[submodule "turtlebot3_msgs"]
	path = catkin_ws/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
	branch = melodic-devel
[submodule "turtlebot3_simulations"]
	path = catkin_ws/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
	branch = melodic-devel
[submodule "rgiro_chatter_ros"]
	path = catkin_ws/src/rgiro_chatter_ros
	url = https://gitlab.com/emlab/packages/rgiro_chatter_ros.git
	branch = devel
[submodule "darknet_ros"]
	path = catkin_ws/src/darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros.git
	branch = master
[submodule "aws_robomaker_small_house_world"]
	path = catkin_ws/src/aws_robomaker_small_house_world
	url = https://github.com/aws-robotics/aws-robomaker-small-house-world.git
	branch = ros1