<?xml version="1.0" encoding="utf-8"?>

<launch>
  <param name="use_sim_time" value="true" />
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find sde_launch)/config/rviz/turtlebot3_simulation_rviz_default.rviz"/>

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
<!--  <arg name="x_pos" default="0.0"/>-->
<!--  <arg name="y_pos" default="0.0"/>-->
<!--  <arg name="z_pos" default="0.0"/>-->
  <arg name="path" default="/root/TurtleBot3/" />
  <arg name="file_1" default="dataset7_2023-01-24-15-32-46.bag" />

<!--  <node pkg="ros_rssm" type="RSSM_node_MRSSM.py" name="RSSM" args="$(arg file_1)" output="screen"/> -->
  <node pkg="ros_rssm" type="RSSM_node.py" name="RSSM" args="$(arg file_1)" output="screen"/>


  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" default="$(find sde_launch)/config/gazebo/maps/aws_robomaker_small_house_world/map.yaml"/>
    <arg name="open_rviz" default="false"/>
    <arg name="move_forward_only" default="false"/>
  </include>

  <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization" />
  
  <arg name="node_start_delay" default="5.5" /> 
  <node pkg="rosbag" type="play" name="player" args="-r 3.0 -q --clock $(arg path)$(arg file_1)" required="true" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  


</launch>
