<?xml version="1.0"?>

<launch>

  <node pkg="rgiro_gmapping" name="slam_gmapping" type="slam_gmapping">
    <param name="/use_sim_time" value="true"/>
    <param name="scan" value="base_scan"/>
    <param name="particles" value="30"/>
    <param name="xmin" value="-30.0"/>
    <param name="ymin" value="-20.0"/>
    <param name="xmax" value="30.0"/>
    <param name="ymax" value="20.0"/>
    <param name="ogain" value="5.0"/>
    <param name="resampleThreshold" value="1.0"/>     
   </node>

</launch>
